.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  color:blueviolet;
  background-color:black;

}
  
.container {
color: yellowgreen;
  background-color:aquamarine;
}

#section-1 {
  color: pink;
  background-color: brown;
}

#section-6 {
  color:bisque

}
