 /* add responsiveness @media etc. to adjust to different screens

/* colors: beige # F2EFDF; slamon #f3846C; yellow #F3bD55; pink #F9CAC0; gray #353547; mustard #F3bD55*/
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #353547;
}

a{
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
}


header nav a{
    color: white;
}

header h1 {
    font-size: 65px;
}

.btnnav{
    padding: 15px;
    margin: 20px;
    border: 0 white;
    border-radius: 12px;
    background-color: lightgray;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
    transition: 0.3s;
}
.btnnav:hover{
    opacity: 0.6;
}

main{
 max-width: 88%;
 margin-left: auto;
 margin-right: auto;
}

section{
    display: flex;
    margin: 10px;
}
section .about-me-title img{
    max-height: 300px;
    min-height: 300px;
}
section .about-me-bio{
    padding: 10px 15px; 
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.gallery{
    max-height: 250px;
    min-height: 250px;
    margin: 10px;
}

footer p{
    flex
}